[include mainsail.cfg]
[include timelapse.cfg]
[include configs/index.cfg]
[include macros/index.cfg]
# [include klicky/klicky-probe.cfg]

[exclude_object]

#[probe]
#z_offset: 7.600

##### VzBoT############
#######################

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 30000
#max_accel_to_decel: 100000
max_z_velocity: 30
max_z_accel: 500
square_corner_velocity: 10

########################
########################

[mcu]
serial:/dev/serial/by-id/usb-Klipper_stm32f407xx_1E001C001147393436343431-if00
restart_method: command

########################
########################
[stepper_x]
step_pin: PE0  # Drive6
dir_pin: PG3
enable_pin: !PG4
microsteps: 16
rotation_distance: 40
endstop_pin: !PG11
position_endstop: -7
position_min: -7
position_max: 330
homing_speed: 45
full_steps_per_rotation: 200
homing_retract_dist: 0
homing_positive_dir: false
step_pulse_duration: 0.000001
#step_pulse_duration: 0.000000100
[tmc2209 stepper_x]
uart_pin: PG2
interpolate: true
run_current: 1.7
hold_current: 1
sense_resistor: 0.110
stealthchop_threshold: 0
#[tmc5160 stepper_x]
#interpolate: false
#cs_pin: PC4
##diag1_pin: PG12
#run_current: 1.8
##hold_current: 0.5
#spi_bus: spi3
#driver_SGT: 1
#sense_resistor: 0.075




[stepper_y]
step_pin: PE1  # Drive5
dir_pin: PF0
enable_pin: !PC15
microsteps: 16
rotation_distance: 40
endstop_pin: !PG12
position_endstop: 0
position_min: 0
position_max: 330
homing_speed: 45
full_steps_per_rotation: 200
homing_retract_dist: 20
homing_positive_dir: false
step_pulse_duration: 0.000001

[tmc2209 stepper_y]
uart_pin: PF1
interpolate: true
run_current: 1.7
hold_current: 1
sense_resistor: 0.110
stealthchop_threshold: 0
#[tmc5160 stepper_y]
#interpolate: false
#cs_pin: PF12
##diag1_pin: PG11
#run_current: 1.8
##hold_current: 0.5
#spi_bus: spi3
#driver_SGT: 1
#sense_resistor: 0.075


[stepper_z]
step_pin: PE15
dir_pin: PE11
enable_pin: !PF2
microsteps: 16
rotation_distance: 4
#endstop_pin: ^PG10
#endstop_pin: probe:z_virtual_endstop
endstop_pin: probe:z_virtual_endstop # use idm as virtual endstop
homing_retract_dist: 0 # idm needs this to be set to 0
#position_endstop: 0
position_min: -30
position_max: 400
full_steps_per_rotation: 200
homing_retract_dist: 25
homing_positive_dir: false
homing_speed: 5.0
second_homing_speed: 2.5
step_pulse_duration: 0.000004

[tmc2209 stepper_z]
interpolate: false
uart_pin: PE10
run_current: 1.0
#hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[extruder]
### LGX Lite (200 * 16 / 562)
step_pin: PE14
dir_pin: !PE8
microsteps: 16
enable_pin: !PE9
#rotation_distance: 5.466192 # LGX Lite
rotation_distance: 4.05 #vz-Alu hextrudort previous value was 4.4
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PB0
sensor_type: PT1000 #Generic 3950
sensor_pin: PF4
###
#control: pid
#pid_Kp = 27.55
#pid_Ki = 1.275
#pid_Kd = 148.759
min_temp: 0
max_temp: 400
full_steps_per_rotation: 200
max_extrude_only_distance: 500.0
max_extrude_cross_section: 300
max_extrude_only_velocity: 120
max_extrude_only_accel: 10000
min_extrude_temp: 0
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03
step_pulse_duration: 0.000004
[tmc2209 extruder]
interpolate: false
uart_pin: PE7
run_current: 0.8
#hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0


########################
########################

[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PC1
#control: pid
#pid_Kp: 66.746
#pid_Ki: 3.504
#pid_Kd: 317.878
min_temp: 0
max_temp: 130

########################
########################

[pause_resume]
recover_velocity: 350

########################
########################

[virtual_sdcard]
path: ~/gcode_files

########################
########################

[display_status]

########################
########################

[bed_screws]
screw1: 20,20
screw2: 20,290
screw3: 290,290
screw4: 290,20

[screws_tilt_adjust]
screw1: 20, 20
screw1_name: front left screw
screw2: 290, 20
screw2_name: front right screw
screw3: 290, 290
screw3_name: rear right screw
screw4: 20, 290
screw4_name: rear left screw
screw5: 165, 290
screw5_name: rear mid screw
screw6: 165, 20
screw6_name: front mid screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

########################
########################

[input_shaper]
#shaper_freq_x: 93.2
#shaper_type_x: mzv
#shaper_freq_y: 65.6
#shaper_type_y: mzv

[safe_z_home]
home_xy_position: 165, 165
z_hop: 10

[bed_mesh]
speed: 200
horizontal_move_z: 10
mesh_min: 15, 25
mesh_max: 300, 300
probe_count: 15, 15
algorithm: bicubic

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 19.700
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.910
#*# pid_ki = 2.630
#*# pid_kd = 41.559
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.236
#*# pid_ki = 3.098
#*# pid_kd = 255.170
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 93.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 102.8
#*#
#*# [idm model default]
#*# model_coef = 1.3772902361654822,
#*# 	  1.8173002956443238,
#*# 	  0.7808125111636472,
#*# 	  0.2899896684164353,
#*# 	  0.3230825319859966,
#*# 	  0.5864044585468422,
#*# 	  -0.12162613148924732,
#*# 	  -0.5317895233359982,
#*# 	  0.18878739772133252,
#*# 	  0.29098219504280093
#*# model_domain = 3.2268812823023226e-07,3.34494804095377e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 25.538089
#*# model_offset = 0.18500
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.022046, 0.044051, 0.062842, 0.074786, 0.068046, 0.070724, 0.062856, 0.047222, 0.048364
#*# 	  0.011357, 0.023487, 0.041771, 0.059656, 0.056291, 0.050362, 0.046147, 0.035150, 0.030253
#*# 	  -0.005940, -0.001521, 0.017101, 0.035821, 0.033789, 0.028172, 0.019038, 0.009795, 0.005430
#*# 	  -0.029474, -0.026897, -0.004883, 0.014863, 0.014740, 0.010054, 0.000933, -0.010700, -0.017603
#*# 	  -0.037633, -0.032626, -0.014192, 0.002588, 0.005868, -0.004009, -0.013934, -0.026660, -0.029005
#*# 	  -0.054876, -0.054199, -0.031991, -0.010720, -0.012833, -0.026122, -0.032694, -0.046666, -0.054332
#*# 	  -0.071391, -0.064265, -0.044333, -0.028985, -0.031668, -0.037362, -0.045466, -0.061160, -0.076074
#*# 	  -0.083263, -0.070304, -0.051527, -0.035631, -0.036952, -0.047934, -0.063692, -0.083893, -0.092403
#*# x_count = 9
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 78.5011
#*# max_x = 237.501
#*# min_y = 105.643
#*# max_y = 224.643
