# This file contains common pin mappings for the Two Trees Sapphire
# Pro (SP-3) printer (Robin Nano 1.2, 2208 drivers for X,Y and A4988 for Z,E).

# INSTRUCTIONS FOR COMPILING
# To use this config, the firmware should be compiled for the STM32F103.
# When running "make menuconfig", enable "extra low-level configuration setup",
# select the 28KiB bootloader, serial (on USART3 PB11/PB10) to use USB communication
# or serial (on USART1 PA10/PA9) to use direct UART connection with Raspberry trough wifi pins.
# Set "GPIO pins to set at micro-controller startup" to "!PC6,!PD13" to turn off display at startup.

# INSTRUCTIONS FOR FLASHING, THE SCRIPT IS COMPULSORY OR IT WON'T WORK!!!
# Note that the "make flash" command does not work with the Robin Nano!
# After running "make", run the following command in one row FROM THE KLIPPER FOLDER:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin (if you can't find the file the script was not executed)
# to an SD card and then restart the printer with that SD card.
# If you removed the LCD screen rename the file to "Robin_nano43.bin" for correct flashing.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include timelapse.cfg]
[include configs/index.cfg]
[include macros/index.cfg]

# overwrite 
[bltouch]
#z_offset: 0.5

[firmware_retraction]
retract_length: 4
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 20

# settings
[stepper_x]
step_pin: P1.4
dir_pin: !P1.8
enable_pin: !P1.0
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.29
position_endstop: 0
position_max: 210
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.1
#diag_pin: P1.29
run_current: 0.800
stealthchop_threshold: 999999

[stepper_y]
step_pin: P1.14
dir_pin: !P1.15
enable_pin: !P1.9
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.28
position_endstop: 205
position_max: 205
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.10
#diag_pin: P1.28
run_current: 0.800
stealthchop_threshold: 999999

[stepper_z]
step_pin: P4.29
dir_pin: !P4.28
enable_pin: !P1.16
microsteps: 16
rotation_distance: 2 #8
endstop_pin: probe:z_virtual_endstop #^P1.27
# position_endstop: 0.0
position_min: -15
position_max: 250

[tmc2209 stepper_z]
uart_pin: P1.17
#diag_pin: P1.27
run_current: 0.700
stealthchop_threshold: 999999

[extruder]
step_pin: P2.11 #P2.6
dir_pin: P2.12 #!P2.7
enable_pin: !P0.21 #!P0.4
microsteps: 16
rotation_distance: 8
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 15.305
pid_Ki: 0.518
pid_Kd: 113.062
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: P0.22 #P0.5
#diag_pin: P1.26
run_current: 0.650
stealthchop_threshold: 999999

[static_digital_output tmc_standby_pins]
pins: !P3.26, !P3.25, !P1.18, !P1.19, !P2.13

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.25
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: P2.1

[heater_fan extruder]
pin: P2.2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_17200011C09869AF28D7405EC52000F5-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 4500
max_z_velocity: 10
max_z_accel: 80

[bed_screws]
screw1: 15,15
screw2: 210,15
screw3: 210,210
screw4: 15,210

[output_pin beeper]
pin: P2.8

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.667
#*# pid_ki = 1.659
#*# pid_kd = 774.006
#*#
#*# [extruder]
#*#
#*# [bltouch]
#*# z_offset = 3.240
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.005000, 0.078125, 0.167812, 0.208437
#*# 	0.048750, 0.145937, 0.218750, 0.284687
#*# 	0.121562, 0.230312, 0.291562, 0.317500
#*# x_count = 4
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 62.66
#*# max_x = 147.33
#*# min_y = 78.76
#*# max_y = 109.84
