[exclude_object]

[temperature_sensor Mainboard]
sensor_type: Generic 3950
sensor_pin: P1.30
#min_temp:
#max_temp:
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.