# GCode Macros
[gcode_macro TEST]
gcode:
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    {action_respond_info("max= : %s" % (max_velocity))}

[delayed_gcode setdisplayneopixel]
initial_duration: 2
gcode:
    {% for count in range(printer["neopixel neo"].color_data|length) %}
        SET_LED LED=neo RED=1 GREEN=0 BLUE=0 INDEX={count +1}
        G4 P50
    {% endfor %}
    SET_LED LED=neo RED=1 GREEN=0 BLUE=0
    G4 P200
    SET_LED LED=neo RED=0 GREEN=1 BLUE=0
    G4 P200
    SET_LED LED=neo RED=0 GREEN=0 BLUE=1
    G4 P200
    SET_LED LED=neo RED=1 GREEN=1 BLUE=1

# Temperature reactive Neopixel using extruder actual temp...
[gcode_macro templedcolor_timer]
gcode:
  {% if printer.extruder.target|int > 0 %}
    {% if printer.extruder.temperature < printer.extruder.target %}
      {% set rosso = (printer.extruder.temperature / printer.extruder.target)|round(2) %}
      {% set blu = (1-(printer.extruder.temperature / printer.extruder.target))|round(2) %}
      SET_LED LED=neo RED={rosso} GREEN=0 BLUE={blu}
      G4 P500
    {% endif %}  
  {% endif %}

[gcode_macro START_PRINT]
### cura startcode: start_print B={material_bed_temperature_layer_0} H={material_print_temperature_layer_0}
gcode:
    M104 S{ params.H|default(205) } ; set extruder temp
    M140 S{ params.B|default(60) } ; wait for bed temp
    {% for count in range(1200) %}
        templedcolor_timer
    {% endfor %}
    M190 S{params.B|default(60)} ###just for security we wait again.....
    M109 S{params.H|default(205)} ###just for security we wait again.....
    M105
    M107 ;Start with the fan off
    G21 ;Set units to millimeters
    G91 ;Change to relative positioning mode for retract filament and nozzle lifting

    G28
    G29
    # G1 F1000 Z15 ;After homing lift the nozzle 15mm before start printing
    G1 F200 E-3 ;Retract 3mm filament for a clean start
    G92 E0 ;Zero the extruded length
    G90 ;Absolute positioning
    M82 ;Set extruder to absolute mode too
    SET_LED LED=neo RED=1 GREEN=1 BLUE=1 TRANSMIT=1

[gcode_macro END_PRINT]
gcode:
    G91 ;Change to relative positioning mode for filament retraction and nozzle lifting
    G1 F200 E-4;Retract the filament a bit before lifting the nozzle
    G1 F1000 Z5;Lift nozzle 5mm
    G90 ;Change to absolute positioning mode to prepare for part rermoval
    G1 X0 Y400 ;Move the print to max y pos for part rermoval
    #G1 X0 Y0 ;Move the print to y 0 pos for part rermoval
    M104 S0 ; Turn off hotend
    M106 S0 ; Turn off cooling fan
    M140 S0 ; Turn off bed
    M84 ; Disable motors
    SET_LED LED=neo RED=0 GREEN=1 BLUE=0 TRANSMIT=1

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    G1 F1000 Z15
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    SET_LED LED=neo RED=1 GREEN=0.5 BLUE=0

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(500) %}
    G91
    # {action_respond_info("SPEED= : %s" % (speed))}
    G1 E800 F{2000}
    G1 E50 F{speed}
    G92

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(500) %}
    G91
    # {action_respond_info("SPEED= : %s" % (speed))}
    G1 E-500 F{speed}
    G1 E-50 F{speed}
    G92

[gcode_macro PROBE_CALIBRATE]
rename_existing: BASE_PROBE_CALIBRATE
gcode:  
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28							#Home All Axes
	{% endif %}
    G1 X237 Y200
    BASE_PROBE_CALIBRATE

# Bed Level
[gcode_macro G29]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28							#Home All Axes
	{% endif %}
    BED_MESH_CALIBRATE

[gcode_macro M105]
rename_existing:            M105.1
gcode:  

   M105.1
#  {action_respond_info("M105 called : %.1f" % (printer.extruder.temperature|float))}
#   #if the extruder is off
   {% if printer.extruder.target > 0 %}
         #if the extruder temp is at target temperature 
         {% if printer.extruder.temperature >= printer.extruder.target - 4.0 %}
            SET_LED LED=neo RED=1 GREEN=0 BLUE=0 TRANSMIT=1

         #if the extruder is still heating
         {% else %}
            {% set scaler = printer.extruder.temperature|float / printer.extruder.target|float %}
            SET_LED LED=neo RED={ scaler|float * 1 } GREEN=0 BLUE={1.0 - scaler|float * 1 } TRANSMIT=1
         {% endif %}  

   {% endif %}

[gcode_macro M205]
gcode:
    G4
