[delayed_gcode setdisplayneopixel]
initial_duration: 2
gcode:
    {% for count in range(printer["neopixel neo"].color_data|length) %}
        SET_LED LED=neo RED=1 GREEN=0 BLUE=0 INDEX={count +1}
        G4 P50
    {% endfor %}
    SET_LED LED=neo RED=1 GREEN=0 BLUE=0
    G4 P200
    SET_LED LED=neo RED=0 GREEN=1 BLUE=0
    G4 P200
    SET_LED LED=neo RED=0 GREEN=0 BLUE=1
    G4 P200
    SET_LED LED=neo RED=1 GREEN=1 BLUE=1

# Temperature reactive Neopixel using extruder actual temp...
[gcode_macro templedcolor_timer]
gcode:
  {% if printer.extruder.target|int > 0 %}
    {% if printer.extruder.temperature < printer.extruder.target %}
      {% set rosso = (printer.extruder.temperature / printer.extruder.target)|round(2) %}
      {% set blu = (1-(printer.extruder.temperature / printer.extruder.target))|round(2) %}
      SET_LED LED=neo RED={rosso} GREEN=0 BLUE={blu}
      G4 P500
    {% endif %}  
  {% endif %}
  
[gcode_macro START_PRINT]
### cura startcode: start_print B={material_bed_temperature_layer_0} H={material_print_temperature_layer_0}
gcode:
    M104 S{ params.H|default(205) } ; set extruder temp
    M140 S{ params.B|default(60) } ; set bed temp

    #### Daten global setzen
    SET_GCODE_VARIABLE MACRO=_PRINTER_TEMP_VARIABLE VARIABLE=print_temp_extruder VALUE={params.H|default(205)}
    SET_GCODE_VARIABLE MACRO=_PRINTER_TEMP_VARIABLE VARIABLE=print_temp_bed VALUE={params.B|default(60)}

    {% for count in range(1200) %}
        _templedcolor_timer
    {% endfor %}
    M190 S{params.B|default(60)} ###just for security we wait again.....
    M109 S{params.H|default(205)} ###just for security we wait again.....
    M105
    M107 ;Start with the fan off
    G21 ;Set units to millimeters
    G91 ;Change to relative positioning mode for retract filament and nozzle lifting
    G28
    # G1 F1000 Z15 ;After homing lift the nozzle 15mm before start printing
    G1 F200 E-3 ;Retract 3mm filament for a clean start
    G1 F600 Z0.3
    G0 F3000 X182.9 Y173.827 Z0.375
    G92 E0 ;Zero the extruded length
    G90 ;Absolute positioning
    M82 ;Set extruder to absolute mode too
    SET_LED LED=neo RED=1 GREEN=1 BLUE=1 TRANSMIT=1
    BED_MESH_CALIBRATE ADAPTIVE=1
    _SKIRT_LINES

[gcode_macro END_PRINT]
gcode:
    {% set travel_speed = printer.toolhead.max_velocity %}
    G91 ;Change to relative positioning mode for filament retraction and nozzle lifting
    G1 F200 E-4;Retract the filament a bit before lifting the nozzle
    G1 F1000 Z5;Lift nozzle 5mm
    _MOVE_Z_AWAY
    G90 ;Change to absolute positioning mode to prepare for part rermoval
    # G1 X0 Y0 ;Move the print to y 0 pos for part rermoval
    M104 S0 ; Turn off hotend
    M106 S0 ; Turn off cooling fan
    M140 S0 ; Turn off bed
    M84 ; Disable motors
    g28
    SET_LED LED=neo RED=0 GREEN=1 BLUE=0 TRANSMIT=1
      

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    {% set travel_speed = printer.toolhead.max_velocity %}
    _MOVE_Z_AWAY
    G90 ;Change to absolute positioning mode to prepare for part rermoval
    G1 F{travel_speed * 60} X0 Y400 ;Move the print to max y pos for part rermoval
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    SET_LED LED=neo RED=1 GREEN=0.5 BLUE=0

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(500) %}
    G91
    # {action_respond_info("SPEED= : %s" % (speed))}
    G1 E800 F{2000}
    G1 E50 F{speed}
    G92

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(500) %}
    G91
    # {action_respond_info("SPEED= : %s" % (speed))}
    G1 E-500 F{speed}
    G1 E-50 F{speed}
    G92

[gcode_macro PROBE_CALIBRATE]
rename_existing: BASE_PROBE_CALIBRATE
gcode:  
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28							#Home All Axes
	{% endif %}
    G1 X237 Y200
    BASE_PROBE_CALIBRATE

# Bed Level
[gcode_macro G29]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28							#Home All Axes
	{% endif %}
    BED_MESH_CALIBRATE

[gcode_macro M105]
rename_existing:            M105.1
gcode:  

   M105.1
#  {action_respond_info("M105 called : %.1f" % (printer.extruder.temperature|float))}
#   #if the extruder is off
   {% if printer.extruder.target > 0 %}
         #if the extruder temp is at target temperature 
         {% if printer.extruder.temperature >= printer.extruder.target - 4.0 %}
            SET_LED LED=neo RED=1 GREEN=0 BLUE=0 TRANSMIT=1

         #if the extruder is still heating
         {% else %}
            {% set scaler = printer.extruder.temperature|float / printer.extruder.target|float %}
            SET_LED LED=neo RED={ scaler|float * 1 } GREEN=0 BLUE={1.0 - scaler|float * 1 } TRANSMIT=1
         {% endif %}  

   {% endif %}

[gcode_macro M205]
gcode:
    G4
    
[gcode_macro _MOVE_Z_AWAY]
gcode:
    {% set travel_z_speed = printer.configfile.settings.printer.max_z_velocity %}
    G90 ;Change to absolute positioning mode to prepare for part rermoval
    {% set axismax = printer.toolhead.axis_maximum %}
	{% set pos     = printer.toolhead.position     %}
	
	#Move toolhead away from finished print
	{% if pos.z <= ( axismax.z - 5 ) %}
	    G0 F{travel_z_speed * 60} Z{ pos.z + 5 }
	{% else %}
		G0 F{travel_z_speed * 60} Z{ axismax.z }
	{% endif %}

[gcode_macro _SKIRT_LINES]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28							#Home All Axes
	{% endif %}
    G92 E0 ; Reset Extruder

    ; Draw a line. This is for the test line, so it can be a little lower than we need.
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed. 
    G1 X5 Y5 Z0.3 F5000.0 ; Move to start position
    G1 X5 Y250.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X5.3 Y250.0 Z0.3 F5000.0 ; Move to side a little
    G1 X5.3 Y5 Z0.3 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder

    ######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro M900]
gcode:
	{% if params.K is defined %}
		{% set K = params.K|float %}
		SET_PRESSURE_ADVANCE ADVANCE={K}
	{% endif %}